@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-black: #090909;
    --color-burgundy: #4c0223;
    --font-libre: "Libre Bodoni", serif;
    --font-montserrat: "Montserrat", sans-serif;
}

body {
    background: var(--color-burgundy);
    font-family: var(--font-montserrat);
}

.hero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("assets/hero.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
